@model ProductToRestaurantWithQuantityViewModel
@inject IOptionsMonitor<CloudinarySettings> cloudinary;
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_MyLayout.cshtml";

    var cloudinaryBaseUrl = cloudinary.CurrentValue.CloudinaryBaseUrl;

}




<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0">
    <div class="container">
        <div id="productContainer" class="row h-100 gx-2 gy-5 mt-7">
            @Html.Partial("_ProductCardsPartial", Model)
            div class="d-flex justify-content-center mt-4">
            <nav>
                <ul class="pagination">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                            <a href="#" class="page-link pagination-link" data-page="@i">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        </div>

        

        <
    </div>
    <!-- end of .container-->
    
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("click", ".pagination-link", function (e) {
            e.preventDefault();
            var page = $(this).data("page");

            $.ajax({
                url: '@Url.Action("Index")',
                type: 'GET',
                data: { pageNumber: page },
                success: function (result) {
                    $('#productContainer').html(result);
                }
            });
        });
    </script>
}
